@model IEnumerable<DSW1_EL1_SebastianSandoval.Models.Pregunta_2.Producto>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idproducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.umedida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idcategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idproveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.preuni)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idproducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.umedida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idcategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idproveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.preuni)
            </td>
            <td>
                @Html.ActionLink("Select", "Index", new { id = item.idproducto })

            </td>
        </tr>
    }

</table>